BertualAssistant/bin/*
BertualAssistant/etc/
BertualAssistant/include/*
BertualAssistant/lib/*
BertualAssistant/share/*
BertualAssistant/lib64
BertualAssistant/pyvenv.cfg
BertualAssistant/speech_tools/recordings
*.idea
*__pycache__
